/* Reseteo de CSS */
*{
    margin: 0;
    padding: 0;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}


/* footer */
p{
    font-size: 17px;
    margin-top: 20px;
}