/*Tablet*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body {
        background: rgb(241, 115, 84);
    }
}
/*movil*/
@media (max-width: 575.98px)and (orientation:portrait) {
        body {
            background: green;
        }
}
/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body {
        background: blue;
    }
}