
/******** Tablas de productos grid *******/
/* Descripcion de los productos */
span{
    color: #040d3d;
    font-size: 23px;
    font-weight: bold;
}

.grid{
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo titulo"
    "subtitulo1 subtitulo2 subtitulo3 subtitulo4"
    "img1 img2 img3 img4"
    ;
grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
grid-auto-rows: 0.1fr 0.1fr 0.2fr 0.4fr 0.5fr ;
grid-row-gap: 4px;/* Separa las filas */
grid-column-gap: 15px;/* Separa las columnas */
margin-top: 50px;
justify-content: center;
}
.grid0{
    grid-area: titulo;
    text-align: center;
}
.grid1{
    grid-area: subtitulo1;
    text-align: center;
}
.grid2{
    grid-area: subtitulo2;
    text-align: center;
}
.grid3{
    grid-area: subtitulo3;
    text-align: center;
}
.grid4{
    grid-area: subtitulo4;
    text-align: center;
}
.grid9{
    grid-area: img1;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.grid10{
    grid-area: img2;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.grid11{
    grid-area: img3;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.grid12{
    grid-area: img4;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.grid>img{
    width: 300px;
    height:200px ;
    justify-content:center;

}
.grid>div {
    background-image: linear-gradient(rgb(245, 205, 97),rgb(255, 244, 179));
    font-size: 20px;
} 
/*forma de las imagenes de la tabla */
.foto1>img{
    border-radius: 50%;
}
.foto2>img{
    border-radius: 50%;
}
.foto3>img{
    border-radius: 50%;
}
.foto4>img{
    border-radius: 50%;
}