//IMPORTANCION
@import "responsive";
@import "reseteo";
@import "navegador";
@import "quienesomos";
@import "tablaproductos";
@import "fondopantalla";

//Variables - Operadores
$fuente: 36px;
$margen: 40px;
$azuloscuro: rgb(0, 10, 95);
$amarillo: #ffbe0b;

/* TITULO CENTRAL */
#titulo{
    color:$amarillo;
    font-family: 'Times New Roman';
    font-size: 2*$fuente;
    font-weight: bold;
}

/* LEMA */
.especial{
    color:$amarillo;
    text-align: center;
    font-weight: bold;

    font-size:$fuente ;
    margin-top: $margen;
    margin-bottom: $margen;
    }

/**** TITULOS SECUNDARIOS ****/
h2{
    color: $azuloscuro;
    text-align: center;
    font-weight: bold;
    font-size: $fuente;
    padding-top: $margen;
    /* display: inline;/*es un elemento en bloque que convierte en línea*/
/*     background-color: rgb(238, 212, 67);/* da color a la línea*/
/*     border: 4px solid rgb(243, 135, 11) ; /* Coloca bordes solidos */ 
}
//Mixins
@mixin margin($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
h2 {
    @include margin(40px, 10px);
}
