/******imagen de fondo a todas las ventanas *****/
body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("https://media.gettyimages.com/vectors/multi-coloured-pale-yellowish-sunburst-vector-background-illustration-vector-id1073517044?k=6&m=1073517044&s=612x612&w=0&h=uqyutGlWcEIMWJkPzlfle1ypNXzmAA2OX9qIAJ4LnfU=");   
    background-size: 100vmax ;
    background-repeat: repeat-y;
}
